<%-include('header') -%>
    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title pb-5">
               <h2 class="font-weight-bold">
                 Login App
               </h2>
                <span class="label">
                Login for the existing user
            </span>
            <% if(locals.logout) {%>
                <div class="alert alert-success text-center">
                    <%= logout%>
                </div>
            <%}%>
            </div>
    
        <form action="/login" method="POST">
            <div class="form-group">
                <input type="email" placeholder="email" class="form-control" value="kodego@test.com" name="email">
            </div>
            <br>
            <div class="form-group">
                <input type="password" placeholder="password" class="form-control" value="12345678" name="password">
            </div>
            <br>
             <button type="submit" class="btn btn-success rounded-pill">Submit</button>
           
        </form>
        <br>
         <% if(locals.errors) {%>
                <div class="alert alert-danger text-center">
                    <%= errors%>
                </div>
            <%}%>
             <% if(locals.isInvalid) {%>
                <div class="alert alert-danger text-center">
                    <%= isInvalid%>
                </div>
            <%}%>
          </div>
    </div>
<%-include('footer') -%>